<div class="item">
    <div>Full Name</div>
    <div class="input">
        <input 
            type="text" 
            name="name"
            placeholder="Type your full name"
            value="{{ user.name }}" 
        >           
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div class="input">
        <input 
            type="email" 
            name="email"
            value="{{ user.email }}"
            onblur="Validate.apply(this, 'isEmail')" 
        >           
    </div>
</div>

<div class="item">
    <div>Create Passaword</div>
    <div class="input">
        <input 
            type="password" 
            name="password"
            placeholder="Password"
        >           
    </div>
</div>

{% if not user.id %}

<div class="item">
    <div>Repeat Passaword</div>
    <div class="input">
        <input 
            type="password" 
            name="passwordRepeat"
            placeholder="Repeat password"

        >           
    </div>
</div>

{% endif %}

<div class="item">
    <div>CPF or CNPJ</div>
    <div class="input">
        <input 
            type="text" 
            name="cpfcnpj"
            autocomplete="off"
            value="{{ user.cpf_cnpj }}"
            onkeydown="Mask.apply(this, 'cpfCnpj')"
            onblur="Validate.apply(this, 'isCpfCnpj')" 

        >           
    </div>
</div>

<div class="item">
    <div>CEP</div>
    <div class="input">
        <input 
            type="text" 
            name="cep"
            value="{{ user.cep }}"
            onkeydown="Mask.apply(this, 'cep')"
            onblur="Validate.apply(this, 'isCep')" 


        >           
    </div>
</div>

<div class="item">
    <div>Address</div>
    <div class="input">
        <input 
            type="text" 
            name="address"
            placeholder="Type your Address with number house's!"
            value="{{ user.address }}" 
        >           
    </div>
</div>